<div class="game">

  <div class="rank">3</div>


  <div class="front">
    <img class="thumbnail" src="./../../assets/img-cover-games/Rocket_League_Xbox_One_Cover.jpg">
    <div class="name">Rocket League</div>
    <div class="stats">
      <p class="viewers">539.9k</p>
      <div class="streamers">
        <img src="./../../assets/img-faces/43.jpg">
        <img src="./../../assets/img-faces/xZ4wg2Xj.jpg">
        <img src="./../../assets/img-faces/GLwgYL4.jpg">
      </div>
    </div>
  </div>
  <div class="back">
    <div class="streaming-info">
      <p class="game-stat">559k
        <span>Watching</span>
      </p>
      <p class="game-stat">25.8k
        <span>Streams</span>
      </p>
    </div>
    <button class="btn">See more streams</button>
    <div class="streamers">
      <div class="streamer">
        <div class="icon">
          <img src="./../../assets/img-faces/43.jpg" alt="">
        </div>
        <p class="name">Gamer1</p>
        <p class="number">35.1k</p>
      </div>
      <div class="streamer">
        <div class="icon">
          <img src="./../../assets/img-faces/xZ4wg2Xj.jpg" alt="">
        </div>
        <p class="name">Gamer2</p>
        <p class="number">36.3k</p>
      </div>
      <div class="streamer">
        <div class="icon">
          <img src="./../../assets/img-faces/GLwgYL4.jpg" alt="">
        </div>
        <p class="name">Gamer3</p>
        <p class="number">25.1k</p>
      </div>
    </div>
  </div>

  <div class="background">

  </div>
</div>
