/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

$clr-dark: rgb(13, 17, 19);
$clr-light: #fff;

body {
  font-family: sans-serif;
  min-height: 97vh;
  display: grid;
  place-items: center;
  background: $clr-dark;
  color: $clr-light;
}
